<h1>
 bootstrap form
</h1>
{{title}}

<div class="col-md-9" id="myDiv">
  <form id="frm">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default" onclick="showAlert()">Submit</button>
</form>
</div>

<script>
	
</script>